@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-index {
    display: grid;
    grid-template-areas:
        "header"
        "section-one"
        "section-two"
        "footer";
    row-gap: 2%;
    min-height: 100vh;
}

body {
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* HEADER */

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 3px solid darkblue;
    font-family: 'Bungee', cursive;
}

/* Logo */

.logo {
    display: flex;
}

.helm {
    width: 10%;
    margin-left: 10px;
}

.title {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

header h1 {
    color: cyan;
    text-shadow: blue 3px 2px;
    font-size: 1em;
    margin: 10px;
    letter-spacing: 3px;
    text-align: center;
}

/* /Logo */

/* NAV */

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li a {
    font-size: 1em;
    margin: 0 10px;
    text-decoration: none;
    color: cyan;
    text-shadow: blue 2px 1px;
    letter-spacing: 3px;
}

header ul li a:hover {
    color: blue;
    transition: all .5s;
}
/* /NAV */

/* /HEADER */

/* SECTION 1*/
.one {
    grid-area: section-one;
}

.gif {
    width: 90%;
    height: 500px;
    margin: auto;
    display: block;
    border-radius: 25px;
    border: 3px solid white;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(0, 255, 255);
    text-shadow: blue 3px 2px;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    text-align: center;
}

p {
    font-family: 'Playfair Display', serif;
    color: cyan;
    text-shadow: blue 3px 2px;
    font-size: 1.6em;
}

.p1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: end;
    letter-spacing: 1px;
}

/* /SECTION 1 */

/* SECTION 2 */

.two {
    grid-area: section-two;
}

.first {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: auto;
}

.img1 {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: 500px;
    margin-left: 3%;
    border-radius: 50px;
    border: 3px solid white;
}

.second {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    padding: auto;
}

.p2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: start;
    letter-spacing: 1px;
}

.img2 {
    width: 30%;
    height: 300px;
    margin-right: 3%;
    border-radius: 50px;
    border: 3px solid white;
    display: flex;
}

/* /SECTION 2 */

/* FOOTER */

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid darkblue;
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}

.logo2 {
    display: flex;
    width: 33%;
}

footer h4 {
    font-family: 'Bungee', cursive;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: cyan;
    text-shadow: blue 3px 2px;

}

.autor {
    width: 34%;
    display: flex;
    font-size: 0.85em;
    color: cyan;
    text-shadow: blue 3px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
}

.redes {
    display: flex;
    width: 33%;
    justify-content: flex-end;
}

footer ul {
    display: flex;
    list-style: none;
    margin-right: 3%;
}

.redes ul li:hover {
    transform: scale(1.3,1.3);
    transition: all .5s;
    cursor: pointer;
}

/* /FOOTER */

/*          GALERÍA            */

.container-gal {
    display: grid;
    grid-template-areas:
        "header"
        "section-gal"
        "footer";
    row-gap: 3%;
    min-height: 100vh;
}

#GALERÍA {
    grid-area: section-gal;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5% 5% 5%;
}

.imgs {
    display: flex;
    justify-content: center;
}

.imgs2 {
    border-radius: 20%;
    border: 3px solid white;
}

.imgs2:hover {
    cursor: pointer;
}
/*         /GALERÍA            */
